html,body{
    height: 100%;
    background-color: #F9F7C9 !important;
}
.container{ 
    height: 100%;
}

div{
    padding: 5px;
}

.logo{
    max-width: 400px!important;
    max-height: 400px;
}

#left{
    background-color: white;
    height: 70vh;
    border: 5px solid #80BCBD;
    border-right: none;

}

#scheduleModal{
    overflow: scroll;
    scrollbar-color: #80BCBD #AAD9BB ;
    scrollbar-width: thin;
}

#right{
    background-color: #AAD9BB;
    height: 70vh;
    border: 5px solid #80BCBD;
}

.time{

    border: 5px solid #80BCBD;
    background-color: #AAD9BB;
}

.song{

    border: 5px solid #80BCBD;
    background-color: #AAD9BB;
    overflow: scroll;
    scrollbar-color: #80BCBD #AAD9BB ;
    scrollbar-width: thin;
}

.volume{
    border: 5px solid #AAD9BB;
}

#rightContent{
    background-color: #80BCBD;
}

.schedule{
    border: 2px dashed #80BCBD;
}

.addSlot{
    border: 2px dotted #AAD9BB;
}

.scheduleIndicator{
    background-color: #AAD9BB;
    border: 5px solid #80BCBD;
    text-align: center;
    font-weight: bold;
}

.error{
    background-color: red;
    color: white;
    font-size: large;
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1500;
}

#secondModal {
    z-index: 1060; /* Higher than Bootstrap default for first modal (1050) */
}
.modal-backdrop.show {
    z-index: 1055; /* Ensure backdrop for second modal appears above the first */
}

/* #musicPlayingOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1500;
} */
